<div [hidden]="!pageDisplay" class="container">
  <p>
    <span id="home"><a class="home_link" routerLink="">Home</a></span
    ><span id="pointing_character">></span><span id="account">Trips</span>
  </p>
  <h4>Trips</h4>

  <div [hidden]="anyReservation" class="message_if_noReservation">
    <p style="text-align: center; margin-top: 3rem">
      You need to make a reservation to see them here!
    </p>
  </div>

  <div id="reservationTable" [hidden]="!anyReservation">
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Ex. Nigeria"
        #input
      />
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- Image Column -->
        <ng-container matColumnDef="apartmentPicture">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let row">
            <img src="{{ row.apartmentPicture }}" alt="" />
          </td>
        </ng-container>

        <!-- Location Column -->
        <ng-container matColumnDef="apartmentCountry">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
          <td mat-cell *matCellDef="let row" style="color: #484848">
            {{ row.apartmentCountry }}
          </td>
        </ng-container>

        <!-- Apartment name Column -->
        <ng-container matColumnDef="apartmentName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Apartment Name
          </th>
          <td mat-cell *matCellDef="let row" style="color: #484848">
            {{ row.apartmentName }}
          </td>
        </ng-container>

        <!-- Check in date Column -->
        <ng-container matColumnDef="checkInDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Check In Date
          </th>
          <td mat-cell *matCellDef="let row" style="color: #484848">
            {{ row.checkInDate | date }}
          </td>
        </ng-container>

        <!-- Check out date Column -->
        <ng-container matColumnDef="checkOutDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Check Out Date
          </th>
          <td mat-cell *matCellDef="let row" style="color: #484848">
            {{ row.checkOutDate | date }}
          </td>
        </ng-container>

        <!-- Amount Paid Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount Paid</th>
          <td mat-cell *matCellDef="let row" style="color: #484848">
            ₦{{ row.price | number : "1.0" : "en-US" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="moreInfo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>More Info</th>
          <td
            mat-cell
            *matCellDef="let row"
            style="color: #484848"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
          >
            {{ row.moreInfo }}
            <i class="fa fa-circle-info" (click)="onSeeMore(row)"></i>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of users"
    ></mat-paginator>
  </div>

  <!-- modal -->

  <!-- Button trigger modal -->

  <!-- Modal -->
  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">More Info</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- <p>Reservation ID: {{ UserData.id }}</p> -->
          <p>
            <span class="moreInfo_headings">Name:</span>
            {{ UserData.apartmentName }}
          </p>
          <p>
            <span class="moreInfo_headings">Country:</span>
            {{ UserData.apartmentCountry }}
          </p>
          <!-- <p>Guests: {{ UserData.numGuests }}</p>
        <p>Rooms: {{ UserData.numRooms }}</p> -->
          <p>
            <span class="moreInfo_headings">From:</span>
            {{ UserData.checkInDate | date }} to
            {{ UserData.checkOutDate | date }}
          </p>
          <p>
            <span class="moreInfo_headings">Price:</span>
            {{ UserData.price | number : "1.0" : "en-US" }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- modal end -->
</div>
