<div class="container shortlet_div">
  <app-filter-bar></app-filter-bar>
  <div class="row">
    <div
      class="col-md-3 col-sm-4"
      *ngFor="let shortlet of availableShortlets; let i = index"
    >
      <div class="carousel">
        <div [id]="shortlet.houseRefCode" class="carousel slide">
          <div class="carousel-indicators">
            <button
              type="button"
              [attr.data-bs-target]="'#' + shortlet.houseRefCode"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              [attr.data-bs-target]="'#' + shortlet.houseRefCode"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              [attr.data-bs-target]="'#' + shortlet.houseRefCode"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
            <button
              type="button"
              [attr.data-bs-target]="'#' + shortlet.houseRefCode"
              data-bs-slide-to="3"
              aria-label="Slide 4"
            ></button>
            <button
              type="button"
              [attr.data-bs-target]="'#' + shortlet.houseRefCode"
              data-bs-slide-to="4"
              aria-label="Slide 5"
            ></button>
          </div>
          <div class="carousel-inner">
            <div
              class="carousel-item"
              *ngFor="let shortletPics of shortlet.pictures; let i = index"
              [ngClass]="{ active: i === 0 }"
            >
              <img
                routerLink="/shortlet/{{ shortlet.id }}"
                style="cursor: pointer"
                [src]="shortletPics.url"
                class="d-block w-100"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            [attr.data-bs-target]="'#' + shortlet.houseRefCode"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            [attr.data-bs-target]="'#' + shortlet.houseRefCode"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div
        class="shortlet_details"
        routerLink="/shortlet/{{ shortlet.id }}"
        style="cursor: pointer"
      >
        <div style="margin-top: 15px; margin-bottom: 5px">
          <p class="shortlet_name" style="font-weight: 600; cursor: pointer">
            {{ shortlet.address }}
          </p>
          <p class="shortlet_rating float-end">★ {{ shortlet.rating }}</p>
        </div>
        <p style="margin: 0; font-weight: 300; color: #6c6f71">
          {{ shortlet.users.name }}
        </p>
        <p style="margin: 0; font-weight: 300; color: #6c6f71">
          Allowed number of guests: {{ shortlet.maxNoOfGuests | number:'1.0':'en-US' }}
        </p>
        <p style="margin-top: 5px; font-weight: 300">
          <span style="font-weight: 600">₦{{ shortlet.price | number:'1.0':'en-US' }}</span> per night
        </p>
      </div>
    </div>
  </div>
</div>
