<div class="container" *ngIf="showShortlet">
  <h2 style="padding-top: 1rem">{{ shortletData.name }}</h2>
  <div style="display: flex; justify-content: space-between">
    <div style="display: flex; gap: 0.5rem">
      <p>★ {{ shortletData.rating }}</p>
      <p>· {{ shortletData.users.name }}</p>
      <p>· {{ shortletData.address }}</p>
    </div>
  </div>

  <div class="parent">
    <div class="div1">
      <img src="{{ shortletPictures[0]?.url }}" alt="apartment-pic" />
    </div>
    <div class="div2">
      <img src="{{ shortletPictures[1]?.url }}" alt="apartment-pic" />
    </div>
    <div class="div3">
      <img src="{{ shortletPictures[2]?.url }}" alt="apartment-pic" />
    </div>
    <div class="div4">
      <img src="{{ shortletPictures[3]?.url }}" alt="apartment-pic" />
    </div>
    <div class="div5">
      <img src="{{ shortletPictures[4]?.url }}" alt="apartment-pic" />
    </div>
  </div>
  <!-- flex -->

  <div class="row shortlet_content">
    <div class="col-md-8 shortlet_dets">
      <div>
        <div>
          <h2>Entire home hosted by {{ shortletData.users.name }}</h2>
          <div style="display: flex; gap: 0.5rem">
            <p>{{ shortletData.maxNoOfGuests | number:'1.0':'en-US'}} guests</p>
            <p>· {{ shortletData.noOfBedrooms | number:'1.0':'en-US' }} bedrooms</p>
            <p>· {{ shortletData.noOfBeds | number:'1.0':'en-US' }} beds</p>
            <p>· {{ shortletData.noOfBathrooms | number:'1.0':'en-US'}} baths</p>
          </div>
          <hr />

          <div style="display: flex; gap: 0.5rem">
            <img
              style="width: 24px; width: 24px"
              src="../../../assets/svg/clock.svg"
              alt="clock-img"
            />
            <div>
              <h5 style="margin: 0">Free cancellation for 48 hours.</h5>
            </div>
          </div>
        </div>
        <hr />

        <!-- <p>
          {{ shortletData.description }}
        </p> -->

        <div *ngIf="showFullDescription">
          <p>{{ shortletData.description }}</p>
          <button (click)="toggleDescription()" id="see-more">See less</button>
        </div>

        <div *ngIf="!showFullDescription">
          <p>{{ shortletData.description.substring(0, 200) }}...</p>
          <button (click)="toggleDescription()" id="see-more">See more</button>
        </div>

        <hr />
        <h4>What this place offers</h4>

        <div class="row">
          <div class="col-md-6" *ngFor="let item of amenities">{{ item }}</div>
        </div>
        <hr />
        <h4 style="font-weight: 600">
          <span style="color: #ff0066">HM</span>Cover
        </h4>
        Every booking includes free protection from Host cancellations, listing
        inaccuracies, and other issues like trouble checking in.
      </div>
    </div>
    <div class="col-md-4">
      <div class="reservation">
        <div style="display: flex; justify-content: space-between">
          <p>₦{{ shortletData.price | number:'1.0':'en-US' }} per night</p>
          <div style="display: flex; gap: 0.1rem">
            <p>★ {{ shortletData.rating }}</p>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <mat-form-field
              appearance="fill"
              class="reserve_datepicker"
              (click)="picker3.open()"
            >
              <mat-label>Check in date</mat-label>
              <input
                matInput
                [min]="minDate"
                [(ngModel)]="checkinDate"
                [matDatepicker]="picker3"
                [matDatepickerFilter]="myHolidayFilter"
                (dateChange)="trialM($event)"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker3"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field
              appearance="fill"
              class="reserve_datepicker secondDatepicker"
              (click)="picker4.open()"
            >
              <mat-label>Check out date</mat-label>
              <input
                matInput
                [min]="checkoutDate"
                [(ngModel)]="minDateForCheckOut"
                [matDatepicker]="picker4"
                [matDatepickerFilter]="myHolidayFilter"
                (dateChange)="trialM($event)"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker4"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker4></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="guest_counter">
          <p class="guests_label">Guests</p>

          <h5 style="text-align: center">
            <span class="float-start" (click)="decrement()"
              ><img
                [ngClass]="{
                  minGuestReached: counter === 1
                }"
                style="
                  width: 30px;
                  height: 30px;
                  margin-left: 5px;
                  cursor: pointer;
                "
                src="../../../assets/svg/minus.svg"
                alt=""
            /></span>
            {{ counter
            }}<span class="float-end" (click)="increment()"
              ><img
                [ngClass]="{
                  maxGuestReached: counter === shortletData.maxNoOfGuests
                }"
                style="
                  width: 30px;
                  height: 30px;
                  margin-right: 5px;
                  cursor: pointer;
                "
                src="../../../assets/svg/add.svg"
                alt=""
            /></span>
          </h5>
        </div>

        <!-- if check in date and checkout dates are picked, display this -->
        <div class="bill">
          <p>₦{{ shortletData.price | number:'1.0':'en-US' }} x {{ numberOfNights }} nights</p>
          <!-- <p>${{ shortletData.price * numberOfNights }}</p> -->
          <p>₦{{ calculateNumberOfNights | number:'1.0':'en-US' }}</p>
        </div>
        <div class="bill">
          <p>Cleaning fee</p>
          <p>₦{{ shortletData.cleaningFee | number:'1.0':'en-US' }}</p>
        </div>
        <div class="bill">
          <p>HMS Service fee</p>
          <p>₦{{ shortletData.serviceFee | number:'1.0':'en-US' }}</p>
        </div>
        <hr />
        <div class="bill">
          <p>Total before taxes</p>
          <p>₦ {{ total | number:'1.0':'en-US' }}</p>
        </div>
        <div class="reserve-btn">
          <button
            routerLink="booking"
            [disabled]="buttonDisable"
            [queryParams]="{
              checkin: checkinDate,
              checkout: minDateForCheckOut,
              nights: numberOfNights,
              guests: counter,
              service: shortletData.serviceFee,
              cleaning: shortletData.cleaningFee
            }"
          >
            {{ buttonDisable ? "Not Available" : "Reserve" }}
          </button>
          <p *ngIf="!buttonDisable" class="small">You won't be charged yet</p>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <!-- <h3>Comments</h3>
  <div class="row">
    <div *ngFor="let comment of comments" class="col-md-6">
      <div class="user_info">
        <div class="user-img">
          <img
            style="
              width: 43px;
              height: 43px;
              vertical-align: top;
              margin-right: 10px;
            "
            src="../../../assets/svg/profile.svg"
            alt=""
          />
          <div style="display: inline-block; vertical-align: bottom">
            <h5 style="margin: 0">{{ comment.users.name }}</h5>
            <p style="margin: 0; color: #4a4a4a">{{ comment.commentDate }}</p>
          </div>
        </div>
        <p style="padding-top: 6px">{{ comment.comment }}</p>
      </div>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-md-12">
      <div *ngIf="username" class="signedIn_user">
        <h5>{{ username }}</h5>
        <input
          class="form-control w-100"
          type="text"
          placeholder="Comment..."
          [(ngModel)]="UserComment"
        />
        <button class="send_comment float-end" (click)="onSendComment()">
          Send
        </button>
      </div>
    </div>
  </div> -->
</div>
