<div style="padding-bottom: 4.375rem" class="container">
  <h1>Shortlet your Home</h1>
  <p>Send a request to list your home</p>

  <div class="progress-bar">
    <div class="progress" [style.width.%]="step * 25"></div>
  </div>
  <p>Step {{ step }} of 4</p>
  <div class="form">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)" novalidate>
      <div *ngIf="step === 1">
        <div class="form-group">
          <label>Title</label>
          <input
            formControlName="name"
            type="text"
            class="form-control"
            required
          />
        </div>

        <div class="form-group">
          <label>Description</label>
          <textarea
            formControlName="description"
            class="form-control"
          ></textarea>
        </div>

        <div class="form-group">
          <label>Address</label>
          <input
            formControlName="address"
            type="text"
            class="form-control"
            required
          />
        </div>

        <div class="form-group">
          <label>Country</label>
          <select formControlName="country">
            <option *ngFor="let country of countries" [value]="country.name">
              {{ country.name }}
            </option>
          </select>
        </div>
      </div>

      <div *ngIf="step === 2">
        <div class="form-group">
          <label>Guest Capacity</label>
          <input
            formControlName="maxNoOfGuests"
            type="number"
            class="form-control"
            (keypress)="keyPress($event)"
            required
          />
        </div>

        <div class="form-group">
          <label>No of Bedrooms</label>
          <input
            (keypress)="keyPress($event)"
            formControlName="noOfBedrooms"
            type="number"
            class="form-control"
            required
          />
        </div>

        <div class="form-group">
          <label>No of Beds</label>
          <input
            (keypress)="keyPress($event)"
            formControlName="noOfBeds"
            type="number"
            class="form-control"
            required
          />
        </div>

        <div class="form-group">
          <label>No of Bathrooms</label>
          <input
            (keypress)="keyPress($event)"
            formControlName="noOfBathrooms"
            type="number"
            class="form-control"
          />
        </div>
      </div>

      <div *ngIf="step === 3">
        <div class="form-group">
          <label>House Type</label>
          <select formControlName="houseType" required>
            <option value="" disabled selected>Select your House Type</option>
            <option value="" *ngFor="let house of houseType" [value]="house">
              {{ house }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>Property Type</label>
          <select formControlName="propertyType" required>
            <option value="" disabled selected>
              Select your Property Type
            </option>
            <option
              value=""
              *ngFor="let property of propertyType"
              [value]="property"
            >
              {{ property }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label>Cleaning Fee (NGN)</label>
          <input
            (keypress)="keyPress($event)"
            formControlName="cleaningFee"
            type="number"
            class="form-control"
            required
          />
        </div>

        <div class="form-group">
          <label>Price (NGN)</label>
          <input
            (keypress)="keyPress($event)"
            formControlName="price"
            type="number"
            placeholder="Per Night"
            class="form-control"
            required
          />
        </div>

        <div formArrayName="pictures">
          <label>Upload Pictures (5 pictures only)</label>
          <!-- <div *ngFor="let image of pictures.controls; let i = index">
            <input
              type="file"
              accept=".png, .jpg, .jpeg"
              (change)="onImageUpload($event, i)"
              required
              [formControlName]="i"
              class="form-control"
              style="margin-bottom: 8px"
            />
          </div> -->
          <div
            class="add-file col-sm-2"
            (click)="fileInput.click()"
            style="cursor: pointer"
          >
            <img
              class="add-file-icon"
              src="../../../../assets/Doc Mgnt icons/attach.svg"
            />
            <span>Add File</span>
          </div>
          <div class="selected-file" style="margin-top: 5px">
            <ng-container
              *ngFor="let file of shortletDocumentFile; let i = index"
            >
              <div>
                <img
                  class="file-icon"
                  src="../../../../assets/Doc Mgnt icons/{{
                    file.fileType
                  }}.svg"
                />{{ shortletDocumentFile[i].filename }}
                <i
                  class="fa fa-close"
                  (click)="removeFile(i)"
                  style="
                    float: right;
                    margin-top: 3px;
                    cursor: pointer;
                    color: red;
                  "
                ></i>
              </div>
            </ng-container>
          </div>
        </div>
        <form id="staff-file-upload" #shortletFile style="display: none">
          <input
            type="file"
            class="hidden"
            id="file-upload-1"
            (change)="onFileSelect($event)"
            #fileInput
          />
        </form>
      </div>

      <div formGroupName="amenities" *ngIf="step == 4">
        <label>Select Amenities</label>
        <!-- new -->
        <div class="amenities">
          <div>
            <div class="amenity">
              <input id="gym" type="checkbox" formControlName="bbq_grill" />
              <label for="bbq grill">BBQ Grill</label>
            </div>

            <div class="amenity">
              <input type="checkbox" formControlName="pool" />
              <label for="pool">Pool</label>
            </div>

            <div class="amenity">
              <input type="checkbox" formControlName="wifi" />
              <label for="wifi">Free Wi-Fi</label>
            </div>
          </div>
          <div>
            <div class="amenity">
              <input id="gym" type="checkbox" formControlName="patio" />
              <label for="patio">Patio</label>
            </div>

            <div class="amenity">
              <input type="checkbox" formControlName="air_condition" />
              <label for="airCondition">Air Condition</label>
            </div>

            <div class="amenity">
              <input type="checkbox" formControlName="washer" />
              <label for="washer">Washer</label>
            </div>
          </div>
          <div>
            <div class="amenity">
              <input id="gym" type="checkbox" formControlName="first_aid_kit" />
              <label for="first_aid_kit">First Aid Kit</label>
            </div>

            <div class="amenity">
              <input type="checkbox" formControlName="fireplace" />
              <label for="fireplace">Fireplace</label>
            </div>

            <div class="amenity">
              <input type="checkbox" formControlName="work_space" />
              <label for="work_space">Work Space</label>
            </div>
          </div>
        </div>
      </div>

      <div class="control">
        <div class="controls">
          <button *ngIf="step != 1" (click)="previous()" type="button">
            Previous
          </button>
          <button *ngIf="step != 4" (click)="next()" type="button">Next</button>

          <button
            [disabled]="!myForm.valid"
            type="submit"
            *ngIf="step == 4"
            id="button-2 slide"
          >
            Request to Add Home
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
