<div style="padding-bottom: 4.375rem" class="container">
  <h1>Your Listings</h1>
  <!-- <mat-form-field style="margin-top: 2rem;">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field> -->
  <div [hidden]="noPendingListings">
    <p style="text-align: center; margin-top: 3rem">
      You don't have any listings
    </p>
  </div>

  <div class="PendingRequestTables" [hidden]="!noPendingListings">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row" style="color: #484848">
            {{ row.name }}
          </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
          <td mat-cell *matCellDef="let row" style="color: #484848">
            {{ row.address }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>state</th>
          <td mat-cell *matCellDef="let row" style="color: #484848">
            {{ row.state }}
          </td>
        </ng-container>

        <!-- country Column -->
        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
          <td mat-cell *matCellDef="let row" style="color: #484848">
            {{ row.country }}
          </td>
        </ng-container>

        <ng-container matColumnDef="maxNoOfGuests">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Guests</th>
          <td mat-cell *matCellDef="let row" style="color: #484848">
            {{ row.maxNoOfGuests }}
          </td>
        </ng-container>

        <!--  -->
        <ng-container matColumnDef="noOfBathrooms">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Bathrooms</th>
          <td mat-cell *matCellDef="let row" style="color: #484848">
            {{ row.noOfBathrooms }}
          </td>
        </ng-container>

        <ng-container matColumnDef="noOfBedrooms">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Bedrooms</th>
          <td mat-cell *matCellDef="let row" style="color: #484848">
            {{ row.noOfBedrooms }}
          </td>
        </ng-container>

        <ng-container matColumnDef="noOfBeds">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Beds</th>
          <td mat-cell *matCellDef="let row" style="color: #484848">
            {{ row.noOfBeds }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <!-- <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr> -->
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </div>
  </div>
</div>
